.skills-info-card  {
    min-height: 23rem;
    border-radius: 0.65rem;
    border: 1.5px solid #EEE;
    background: rgba(48, 56, 65, 0.398);
    backdrop-filter: blur(1rem);
}

.skills-info-card h6 {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.8rem 2rem;
    background: linear-gradient(180deg, #00ADB5 0%, #0798a0 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1.5px solid #EEE;
}

.skills-info-content {
    padding: 2rem;
}

/* .skills-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.skills-info p {
    font-size: 1rem;
    font-weight: 500;
}

.skills-info .percentage {
    color: #00ADB5;
}

.skill-progress-bg {
    width: 100%;
    height: 0.5rem;
    background: #303841;
    border-radius: 0.5rem;
    margin: 1rem 0;
    overflow: hidden;
}

.skill-progress {
    width: 0%;
    height: 0.5rem;
    background: linear-gradient(90deg, #00ADB5 -50%, #0798a0 50%);
    border-radius: 0.5rem;
    transition: all 0.5s ease-in-out;
}